.flex-container>div {
    display: inline-block;
    margin: 40px;
    padding: 50px;
    border: 5px solid black;
    border-style: dotted;
    background-color: lightgray;
}

.flex-container {
    display: flex;
    background-image: url(background.svg);
    text-align: center;
    font-family: cursive;
}

.flex-box>div {
    display: inline-block;
    margin: 40px;
    padding: 50px;
    border: 5px solid black;
    border-style: dotted;
    height: 50%;
    background-color: lightgray;
}

.flex-box {
    display: flex;
    background-image: url(background.svg);
    text-align: center;
    font-family: cursive;
}