@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
* {
    font-family: "Quicksand", sans-serif;
}

body {
    background-color: #f9fafe;
}

.category_sec .item img {
    border: 1px solid skyblue;
    border-radius: 10%;
    padding: 10px;
}

img:hover {
    background-color: skyblue;
}

.category_sec {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    gap: 2px;
}

.category_sec .item {
    width: 12%;
}